:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.Organizations .dropdown-toggle:hover {
  color: #535bf2 !important;
}

.bg-body-tertiary{
  min-width: 100vw;
  
}

/* Project component styles */
.title {
  font-size: 2rem;
  margin: 0.5rem 0 1rem;
  color: inherit;
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem;
  color: inherit;
  font-family: 'Courier New', Courier, monospace;
  font-weight:900;
}

.project-card {
  width: 100%;
  max-width: 900px;
  margin: 1rem auto;
  padding: 1rem;
  display: block;
}

.project-link {
  color: inherit;
  text-decoration: none;
}

.project-link:hover h3,
.project-link:hover p {
  color: #646cff;
}

.project-card{
  width: 100%;
  max-width: 900px;
  margin: 1rem auto;
  padding: 1rem;
  display: block;
}

.project-item {
  border: 1px solid #1a1a1a;
  border-radius: 60px;
  padding: 1rem;
  margin-bottom: 2rem;

  background-color: #d3d3d379;
  



}
.headings{
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
}


.thumbnail {
  border: 1px solid rgb(0, 153, 255) ;
  border-radius: 60px;
  padding: 1rem;
  margin: 1rem;
}

.icons{
  height: 30px;
  flex-direction: column-reverse;
  margin: 0.5rem;
}

.icons:hover{
  transform: scale(1.2);
}


p{
  font-family: 'Times New Roman', Times, serif;
}